.shows-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5dc;
}

.show-card {
  display: flex;
}
.show-card-content {
  max-width: 500px;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
  height: 400px;
  border-radius: 12px;
  transition: 250ms ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.show-card-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.show-title {
  text-decoration: underline;
}

.details-btn {
  background: #885df0;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 0px #5b5a5a3f;
  cursor: pointer;
  position: relative;
}

.details-btn:hover {
  background-color: #4c2f8e;
}

.details-btn:active {
  top: -1px;
}
.sorting-btn {
  margin-left: auto;
  margin-right: 100px;
  border: none;
  border-radius: 3px;
  border-top: 2px solid #4c2f8e;
  border-bottom: 2px solid #4c2f8e;
  background: none;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
}

.sorting-btn:hover {
  background: #a893d7;
  color: #fff;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
